<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Asociación de Palabras</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .working { background:url('/static/img/indicator.gif') no-repeat right center }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Proyecto Final BigData</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <div class="row">
	       <div class="span4">
		       <div class="row">
		       	   <h2>Palabras Populares</h2>
		       	   <br />
		       	   <div style="width:300p; height:310px;"> <!-- Visualizations container -->
				       <div id="word-cloud"></div>
				       <div id="word-table" style="display:none;"></div>
			       </div>
			       	   <div class="btn-toolbar">
			       	   <div class="btn-group">
					       	   <a class="btn active" href="#" id="cloud-btn">
						       	   <i class="icon-star-empty"></i>Cloud</a>
					       	   <a class="btn" href="#" id="table-btn">
					       	       <i class="icon-th"></i>Tabla</a>
				       	   </div>
			       	   </div>
		       </div>
		       <div class="row">
		       	   <h2>Congresista Aleatorio</h2>
		       	   <div class="span3 well">
				       <div class="row">
					       <div class="span1">
						       <ul class="thumbnails">
								  <li>
								    <a href="#" class="thumbnail">
									    <img src="/static/img/piedad_cordoba.jpg" alt="">
								    </a>
								  </li>
								</ul>
					       </div>
					       <div class="span2">
						       <p>Ipso lorem sum blah bla ipsus loron sum</p>
							    <a href="#" class="btn btn-primary">Ver perfil</a>
					       </div>
				       </div>
			       </div>
		       </div>
	      </div>
	       <div class="span8">
		       <div class="row">
		       	   <h2>Congresistas Populares</h2>
		       	   <br />
		       		<ul class="media-list">
		       			<li class="media">
		       			    <a class="pull-left" href="#">
			       			    <img class="media-object" src="/static/img/imagen-perfil.jpg" alt="" />
		       			    </a>
		       			    <h4 class="media-heading">Congresista 1</h4>
		       			    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
		       			</li>
		       			<li class="media">
		       			    <a class="pull-left" href="#">
			       			    <img class="media-object" src="/static/img/imagen-perfil.jpg" alt=""/>
		       			    </a>
		       			    <h4 class="media-heading">Congresista 2</h4>
		       			    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
		       			</li>
		       			<li class="media">
		       			    <a class="pull-left" href="#">
			       			    <img class="media-object" src="/static/img/imagen-perfil.jpg" alt="" />
		       			    </a>
		       			    <h4 class="media-heading">Congresista 3</h4>
		       			    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
		       			</li>
		       		</ul>
	       		</div>
		       <div class="row">
		       <h3>Visualizaciones</h3>
			       <div class="span4">
				       <ul class="thumbnails">
					       <li>
					        <div class="thumbnail">
						      <img src="/static/img/treemap_main.png" alt="Treemap">
						      <h3>Treemap</h3>
						      <p>Visualización <em>treemap</em> de los partidos políticos y congresistas más populares.
						      <a class="btn btn-primary" href="#">Ver</a></p>
						    </div>
						    </li>
					    </ul>
			       </div>
			       <div class="span4">
				       <ul class="thumbnails">
					       <li>
					        <div class="thumbnail">
						      <img src="/static/img/bubblechart_main.png" alt="Bubble chart">
						      <h3>Bubble Chart</h3>
						      <p>Visualización <em>bubble chart</em> de los partidos políticos y congresistas más populares.
						      <a class="btn btn-primary" href="#">Ver</a></p>
						    </div>
						    </li>
					    </ul>
			       </div>
		      </div>
	      </div>
      </div>

      <hr>

      <footer>
        <p>Daniel Sarmiento Suárez. Universidad de Los Andes 2012. From BigData to Content Analysis.</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/lib/jquery.js"></script>
    <script src="/static/js/lib/bootstrap.min.js"></script>
    <script src="/static/js/lib/d3.v2.min.js"></script>
	<script src="/static/js/d3/d3.layout.cloud.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
    
	
	<script>
	  var fill = d3.scale.category20();
	  var word_list = {{words|safe}}
	  var words = word_list.map(function(d) {return {text: d.text, size: 10 + d.size * 90}});
	
	  d3.layout.cloud().size([300, 300])
	      .words(words)
	      .rotate(function() { return ~~(Math.random() * 2) * 90; })
	      .font("Impact")
	      .fontSize(function(d) { return d.size; })
	      .on("end", draw)
	      .start();
	
	  function draw(words) {
	    d3.select("#word-cloud").append("svg")
	        .attr("width", 300)
	        .attr("height", 300)
	      .append("g")
	        .attr("transform", "translate(150,150)")
	      .selectAll("text")
	        .data(words)
	      .enter().append("text")
	        .style("font-size", function(d) { /*console.log(d.text, d.size);*/return d.size + "px"; })
	        .style("font-family", "Impact")
	        .style("fill", function(d, i) { return fill(i); })
	        .attr("text-anchor", "middle")
	        .attr("transform", function(d) {
	          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
	        })
	        .text(function(d) { return d.text; });
	  }
</script>
<script type='text/javascript'>
	  var words = {{words|safe}};
	  var rows = words.map(function(d) { return [d.text, d.size]});
      google.load('visualization', '1', {packages:['table']});
      google.setOnLoadCallback(drawTable);
      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Palabra');
        data.addColumn('number', 'f (freq i / max(freql)');
        data.addRows(rows);

        var table = new google.visualization.Table(document.getElementById('word-table'));
        var formatter = new google.visualization.NumberFormat(
	      {fractionDigits:3});
	    formatter.format(data, 1); // Apply formatter to second column
        table.draw(data, {showRowNumber: true, page:'enable', width:300 });
      }
    </script>

  </body>
</html>