<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>{{congresista.nombre}} - Asociación de Palabras</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .working { background:url('/static/img/indicator.gif') no-repeat right center }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{% url home %}">Proyecto Final BigData</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="{% url home %}">Home</a></li>
              <li class="active"><a href="#">Perfil Congresistas</a></li>
            </ul>
          </div><!--/.nav-collapse -->
          <form class="navbar-search pull-right" action="{% url buscar %}">
			  <input name ="q" type="text" class="search-query" placeholder="Buscar">
		</form>
        </div>
      </div>
    </div>

    <div class="container">
    <div class="row">
	       <div class="span8">
		       <div class="row">
	       <div class="span1">
	       <p><img class="media-object" src="{{congresista.imagen}}" width="64" height="64" alt="{{congresista.nombre}}" /></p>
				       </div>
	       <div class="span5"><h1>{{congresista.nombre}}</h1></div>
				       </div>
				       <hr />
		       <div class="row">
		       <div class="span4">
				       <div id="word-cloud"></div>
				       </div>
		       <div class="span4">
				       <div id="word-table"></div>
				       </div>
			       </div>
		       </div>
	       <div class="span3">
	       	   <h3>Similares</h3>
	       	   <ul class="media-list">
	       	   {% for congresista in related %}
		       			<li class="media">
		       			    <a class="pull-left" href="{% url perfil_congresista congresista.pk %}">
			       			    <img class="media-object" src="{{congresista.imagen}}" width="64" height="64" alt="{{congresista.nombre}}" />
		       			    </a>
		       			    <h5 class="media-heading"><a href="{% url perfil_congresista congresista.pk %}">{{congresista.nombre}}</a></h5>
		       			</li>
	       	   {% endfor %}
	       	   </ul>
		       	   <br />
	      </div>
 		</div>

      <hr />

      <footer>
        <p>Daniel Sarmiento Suárez. Universidad de Los Andes 2012. From BigData to Content Analysis.</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/lib/jquery.js"></script>
    <script src="/static/js/lib/bootstrap.min.js"></script>
    <script src="/static/js/lib/d3.v2.min.js"></script>
	<script src="/static/js/d3/d3.layout.cloud.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
    
	
	<script>
	  var fill = d3.scale.category20();
	  var word_list = {{words|safe}}
	  var words = word_list.map(function(d) {return {text: d.text, size: 10 + d.size * 90}});
	
	  d3.layout.cloud().size([300, 300])
	      .words(words)
	      .rotate(function() { return ~~(Math.random() * 2) * 90; })
	      .font("Impact")
	      .fontSize(function(d) { return d.size; })
	      .on("end", draw)
	      .start();
	
	  function draw(words) {
	    d3.select("#word-cloud").append("svg")
	        .attr("width", 300)
	        .attr("height", 300)
	      .append("g")
	        .attr("transform", "translate(150,150)")
	      .selectAll("text")
	        .data(words)
	      .enter().append("text")
	        .style("font-size", function(d) { /*console.log(d.text, d.size);*/return d.size + "px"; })
	        .style("font-family", "Impact")
	        .style("fill", function(d, i) { return fill(i); })
	        .attr("text-anchor", "middle")
	        .attr("transform", function(d) {
	          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
	        })
	        .text(function(d) { return d.text; });
	  }
</script>
<script type='text/javascript'>
	  var words = {{words|safe}};
	  var rows = words.map(function(d) { return [d.text, d.n, d.size]});
      google.load('visualization', '1', {packages:['table']});
      google.setOnLoadCallback(drawTable);
      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Palabra');
        data.addColumn('number', 'n');
        data.addColumn('number', 'f (freq i / max(freql)');
        data.addRows(rows);

        var table = new google.visualization.Table(document.getElementById('word-table'));
        var decimalformatter = new google.visualization.NumberFormat(
	      {fractionDigits:3});
        var formatter = new google.visualization.NumberFormat(
	      {fractionDigits:0});
	    formatter.format(data, 1); // Apply formatter to second column
	    decimalformatter.format(data, 2); // Apply formatter to third column
        table.draw(data, {showRowNumber: true, page:'enable', width:300 });
      }
    </script>

  </body>
</html>
